<div class="card mx-auto">
    <div class="card-header text-center">
        <h5 style="color: blue; font-size: xx-large;">Registro</h5>
    </div>
    <form action="/login">
      <div>
        <div class="entrada mb-3 mt-3">
            <i class="fa-solid fa-user"></i>
            <input
              type="user"
              class="form-control"
              id="exampleInputUser1"
              aria-describedby="userHelp"
              placeholder="Nombre Completo"
            />
          </div>
          <div class="entrada mb-3 mt-3">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Correo Electrónico"
            />
          </div>
        <div class="entrada mb-3 mt-3">
          <i class="fa-solid fa-phone"></i>
          <input
            type="tel"
            class="form-control"
            id="exampleInputPhone1"
            aria-describedby="phoneHelp"
            placeholder="Teléfono/Celular"
          />
        </div>
        <div class="entrada mb-3">
          <i class="fa-solid fa-lock"></i>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Contraseña"
          />
        </div>
        <div class="entrada mb-3">
            <i class="fa-solid fa-repeat"></i>
            <input
              type="password"
              class="form-control"
              id="exampleInputRepeatPassword1"
              placeholder="Repetir Contraseña"
            />
          </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <div id="emailHelp" class="form-text">
          Al registrarte, aceptas nuestras Condiciones de Uso y Política de
          privacidad . <br />
          ¿Ya tienes cuenta? <a href="/login">Inicia Sesión</a>
        </div>
      </div>
    </form>
  </div>
  